@import "../../styles/colors.scss";

@mixin radio($img) {
  width: 1.0625rem;
  height: 1.0625rem;
  background: url($img) no-repeat;
  background-size: contain;
}

.TodoItemWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid $gray-400;
  background: $gray-500;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
  padding: 1rem;
  min-height: 4.5rem;

  & + .TodoItemWrapper{
    margin-top: 0.75rem;
  }
  

  label {
    width: 46rem;
    color: $gray-100;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    display: flex;

    input[type="radio"] {
      display: none;
    }

    span {
      margin-left: 1rem;
    }
  }

  button {
    border: 0;
    outline: 0;
    background: transparent;
  }
}

.customInputRadio {
  @include radio("../../assets/radio.svg");
}

.customInputRadioConcluded {
  @include radio("../../assets/radio-concluded.svg");
}

.labelConcluded {
  color: $gray-300;
  text-decoration: line-through;
}
